.body1{
    background: linear-gradient(300deg, #9ed3e0, #ffffff, #7274eb);
    height: 650px;
    width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.ex{
  color: #000000;
}

.import, .export {
    margin: 20px;
    padding: 8px;
    height: 45px;
    width: 130px;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 0px 10px 2px rgb(148, 147, 147);
    border: none;
}

.import:hover, .export:hover {
    background-color: #45a049;
}

.export:disabled {
    background-color: grey;
    cursor: not-allowed;
    opacity: 0.5;
}

.importLabel {
    margin: 20px;
    padding: 8px;
    height: 35px;
    width: 130px;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 0px 10px 2px rgb(182, 181, 181);
}

.importLabel:hover {
    background-color: #45a049; 
}

.box {
    margin: 20px;
    padding: 10px;
    height: 170px;
    width: 500px;
    border-radius: 16px;
    border: 1px solid black;
    background-color: transparent;
    backdrop-filter: blur(2px);
}

.box1, .box2 {
    margin: 5px;
    padding: 1px;
    width: 94%;
    height: 46%;
    border-radius: 12px;
    border-color: transparent;
    background-color: #000000;
}

.audioButton {
    margin: 25px;
    margin-top: 50px;
    padding: 8px;
    font-size: 17px;
    width: 100px;
    height: 40px;
    border-radius: 12px;
    border-color: transparent;
    box-shadow: 0px 0px 10px 2px rgb(119, 118, 118);
    background-color: #eff168;
}

.exportContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Space between elements */
    margin-top: 15px;/* Dark background for contrast */
    padding: 10px 15px;
    border-radius: 8px;/* Subtle border */
  }
  
  .exportContainer label {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
  
  .exportContainer select {
    background-color: #292929;
    color: #fff;
    border: 1px solid #666;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
  }
  
  .exportContainer select:disabled {
    background-color: #444;
    color: #888;
    cursor: not-allowed;
  }
  
  .exportContainer select:hover:not(:disabled) {
    background-color: #3a3a3a;
  }
  
  .export {
    background-color: #ff5722; /* Vibrant button color */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .export:disabled {
    background-color: #555;
    cursor: not-allowed;
  }
  
  .export:hover:not(:disabled) {
    background-color: #e64a19;
  }
  