.section {
  padding-top: 10px;   /* space so content is not hidden behind navbar */
  margin-bottom: 60px;  /* spacing between sections */
  text-align: center;
}
.bb{
  width: 97%;
}
.member{
  float: right;
}