.bb{
  background-color: #ffffff;
}
.member{
    float:right;
  }

.intro{
    margin-top: 80px;
    font-size: 25px;
    text-align: center;
    padding: 20px;
  }
html {
  scroll-behavior: smooth;
}

.section {
  padding-top: 100px; /* offset for navbar */
  margin-top: -100px;
}
